:root {
  --color-white: #ffffff;
  --color-orange: #f37429;
  --color-black: #000000;
  --color-yellow: #fab621;
  --color-red: #d33132;
  --color-blue: #123d77;
}

@font-face {
  font-family: OpenSans;
  src: url(./shared/font/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(./shared/font/OpenSans-Italic.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: OpenSans;
  src: url(./shared/font/OpenSans-Medium.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: OpenSans;
  src: url(./shared/font/OpenSans-Bold.ttf) format("truetype");
  font-weight: bold;
}

/* title fonts */
@font-face {
  font-family: SVN;
  src: url(./shared/font/SVN-Agency\ FB.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: SVN;
  src: url(./shared/font/SVN-Agency\ FB\ bold.ttf) format("truetype");
  font-weight: bold;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: OpenSans;
  box-sizing: border-box;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);
}

.discount {
  color: var(--color-white);
  background-color: var(--color-orange);
  padding: 0.5rem 0;
  text-align: center;
}

#btn-menu,
#btn-menu svg {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
}

#btn-menu {
  border: none;
  background-color: transparent;
  z-index: 99;
}

#btn-menu rect {
  fill: var(--color-orange);
  transform-origin: center;
  transform-box: fill-box;
  transition: all 0.3s ease;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  border-bottom: 2px solid var(--color-orange);
}

.d-none {
  display: none;
}

.link-logo img {
  width: 12rem;
}

.link-cart {
  width: 2.2rem;
}

.link-person {
  width: 3.2rem;
}
.wrap_icon-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.form-search {
  width: 100%;
  position: relative;
  margin-top: 2rem;
}

.form-search input {
  width: calc(100% - 2rem);
  border-radius: 0.8rem;
  padding: 0.8rem 1rem;
  border: solid 1px var(--color-yellow);
  color: var(--color-orange);
}

.button-search {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  right: 1rem;
}

.button-search svg {
  fill: var(--color-yellow);
}

.the-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: all 0.3s ease;
}

#btn-menu,
#btn-menu svg {
  padding: 0;
  width: 30px;
  height: 30px;
}

#btn-menu {
  border: none;
  background-color: transparent;
  z-index: 99;
}

#btn-menu rect {
  fill: var(--color-orange);
  transform-origin: center;
  transform-box: fill-box;
  transition: all 0.3s ease;
}

.show-menu #btn-menu .mid {
  transform: translate(-30px, 0);
}

.show-menu #btn-menu .mid2 {
  transform: translate(30px, 0);
}

.show-menu #btn-menu .top {
  transform: translate(0, 8px) rotate(45deg);
  fill: var(--color-white);
}

.show-menu #btn-menu .bot {
  transform: translate(0, -8px) rotate(-45deg);
  fill: var(--color-white);
}
.show-menu .the-menu {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.the-menu .list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 60px;
  padding: 5rem 2rem 0 2rem;
}

.the-menu .swiper-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 60px;
}

.the-menu .item-slide a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.6rem;
}
.item-slide {
  list-style: none;
}

.the-menu {
  background-color: var(--color-orange);
  z-index: 9;
}

@media screen and (min-width: 768px) {
  .the-menu .swiper-slide {
    width: fit-content;
    margin: 0 !important;
  }
  .the-menu .item-slide a {
    margin: 0 1rem;
    color: var(--color-orange);
  }
  .the-menu .swiper-wrapper {
    display: flex;
    gap: 0;
    padding: 1.5rem;
    margin-top: 0;
  }
  .the-menu {
    background-color: var(--color-white);
    height: auto;
    position: static;
    clip-path: none;
  }
}
@media screen and (min-width: 1024px) {
  .the-menu .swiper-wrapper {
    justify-content: space-between;
  }
}

.thumbnail {
  background-image: url("./shared/images/thumbnail.png");
  width: 100%;
  height: 34rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trending {
  width: 100%;
  height: fit-content;
  background-image: url("./shared/images/BACKGROUND.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0;
}
.swiper-trending {
  width: 90%;
  height: 100%;
}

.swiper-slide-trending {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-trending .img-trend {
  width: 100%;
  border-radius: 8px;
  height: 18rem;
  object-fit: cover;
}
.trend-title {
  text-align: center;
  font-size: 2rem;
  color: var(--color-white);
  text-transform: uppercase;
  font-family: SVN;
  font-weight: bold;
  margin-top: 2rem;
}
.list-trend {
  display: flex;
  align-items: center;
  justify-content: start;

  gap: 1rem;
  margin: 2rem;
}
.list-trend::-webkit-scrollbar {
  display: none;
}
.item-trend {
  list-style: none;
  font-size: 1.2rem;
  padding: 1rem;
  width: fit-content;
  min-width: 8rem;
  text-align: center;
  margin: 0 !important;
  border-radius: 8px;
  background-color: var(--color-white);
  color: var(--color-orange);
}
.active-trend {
  background-color: var(--color-orange);
  color: var(--color-white);
  transition: all 0.2s ease-in-out;
}
.wrap-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.card {
  position: relative;
  width: calc(100% / 2 - 2rem);
  height: auto;
  border-radius: 8px;
  border: 1px solid var(--color-white);
}
.hot {
  width: 105%;
  position: absolute;
  top: -13px;
  left: -5px;
}
.wrap_img {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.img-product {
  width: 100%;
  height: 15rem;
  object-fit: contain;
}
.img-product-70 {
  width: 70%;
}
.text-card {
  width: calc(100% - 2rem);
  font-size: 1.2rem;
  margin: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.price-card {
  margin: -0.5rem 0 1.5rem 1rem;
  font-size: 1.2rem;
  color: var(--color-black);
  font-weight: 700;
}
.icon-cart-plus {
  width: 2rem;
  fill: var(--color-white);
}

.card .wrap-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #faa14d;
  padding: 0.8rem 1rem;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wrap-title {
  display: flex;
  align-items: center;
  margin: 3rem 0 2rem;
  justify-content: flex-start;
}
.margin-02 {
  margin: 0 0 2rem;
}

.wrap-title .box {
  width: 2.5rem;
  height: 2rem;
  background-color: var(--color-orange);
  margin-right: 0.8rem;
}
.wrap-title .text {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--color-orange);
  font-family: SVN;
  font-weight: bold;
}
.wrap-title .text .today {
  color: var(--color-black);
}
.recommend-container {
  width: 100%;
  height: 100%;
}

.recommend-container .recommend-slide .wrap-card {
  justify-content: space-evenly;
}

.card-recommend {
  border: 1px solid var(--color-orange);
  overflow: hidden;
}
.card-recommend .wrap_img {
  background-color: #fffaf0;
}

.wrap-brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2rem;
}
.wrap-brand .brand-logo {
  width: 11rem;
}
.bg-service {
  background-image: url("./shared/images/bg-service.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
}
.wrap_service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.card-service {
  width: calc(100% / 2 - 2rem);
  min-height: 13rem;
  border-radius: 8px;
  background-color: var(--color-yellow);
  color: var(--color-white);
}
.img-service {
  width: 5rem;
  margin-left: 1rem;
}
.title-service {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-family: SVN;
  margin-left: 1rem;
}
.desc-service {
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding-right: 0.5rem;
}
.bg-red {
  background-color: var(--color-red);
}
.bg-orange {
  background-color: var(--color-orange);
}
.bg-blue {
  background-color: var(--color-blue);
}
.follow-us {
  font-size: 4rem;
  text-align: center;
  color: var(--color-white);
  font-family: SVN;
  margin: 4rem 0 3rem;
}
.wrap-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.wrap-social img {
  width: 3rem;
  height: 3rem;
}

.footer {
  padding: 2rem;
  height: fit-content;
  background-color: var(--color-orange);
}
.footer-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-footer {
  width: 50%;
  margin: 0 0 2rem;
}
.footer-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem 0;
}
.footer-btn .icon {
  fill: var(--color-white);
  width: 1rem;
}

.footer-content {
  background-color: #f1f1f1;
  display: none;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
#product {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#product li {
  font-size: 1.2rem;
  padding: 1rem;
  width: 40%;
  display: inline-block;
  color: var(--color-orange);
  font-weight: 500;
}

.footer-btn .text {
  color: var(--color-white);
  font-size: 1.4rem;
}

.icon-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem 0;
}
.icon-text img {
  width: 2rem;
}
.icon-text span {
  color: var(--color-white);
  font-size: 1.2rem;
}
.line {
  width: 100%;
  height: 1px;
  background: var(--color-white);
  margin: 1rem 0;
}
.copyright {
  color: var(--color-white);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
}

.tablet {
  display: none;
}
.desktop {
  display: none;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
  .tablet {
    display: block;
  }
  .wrap_icon-header {
    order: 3;
    width: 13%;
  }
  .form-search {
    order: 2;
    width: 50%;
    margin-top: 0;
    margin-left: 2rem;
  }
  .thumbnail {
    height: 40rem;
  }
  .swiper-slide-trending .img-trend {
    height: 24rem;
  }
  .trend-title {
    font-size: 2.2rem;
  }
  .card {
    width: calc(100% / 3 - 1.5rem);
  }

  .wrap-title .box {
    width: 3.5rem;
    height: 3rem;
  }
  .wrap-title .text {
    font-size: 2.2rem;
  }
  .item-trend,
  .price-card,
  .text-card {
    font-size: 1.4rem;
  }
  .hot {
    top: -18px;
    height: 4rem;
    width: 105%;
    left: -8px;
  }
  .img-product-70 {
    width: 75%;
  }
  .wrap-brand .brand-logo {
    width: 11rem;
  }
  .img-service {
    width: 6rem;
  }
  .title-service {
    font-size: 2.2rem;
  }
  .card-service {
    min-height: 14rem;
  }
  .desc-service {
    font-size: 1.4rem;
    padding-right: 2rem;
  }
  .footer-btn .text {
    font-size: 1.6rem;
  }
  #product li {
    font-size: 1.4rem;
  }
  .icon-text img {
    width: 3rem;
  }
  .icon-text span {
    font-size: 1.4rem;
  }
  .copyright {
    font-size: 1.4rem;
  }
  .wrap-social img {
    width: 4rem;
    height: 4rem;
  }
  .list-trend {
    gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .margin-02 {
    margin: 2rem 0;
  }
  .desktop {
    display: block;
  }
  .desktop-none {
    display: none;
  }

  .wrap_icon-header {
    order: 3;
    width: 8%;
  }
  .form-search {
    width: 60%;
    margin-left: 4rem;
  }
  .thumbnail {
    height: 70rem;
  }
  .trending {
    padding: 4rem 0;
  }
  .swiper-slide-trending .img-trend {
    height: 15rem;
    width: 30rem;
    display: block;
  }
  .trend-title {
    font-size: 2.4rem;
    margin-top: 4rem;
  }
  .card {
    width: calc(100% / 4 - 2rem);
  }

  .wrap-title .box {
    width: 3.5rem;
    height: 3rem;
  }
  .wrap-title .text {
    font-size: 2.4rem;
  }
  .item-trend,
  .price-card,
  .text-card {
    font-size: 1.6rem;
  }
  .hot {
    top: -1.3rem;
    width: 104%;
    height: 4rem;
    left: -8px;
  }
  .img-product-70 {
    width: 70%;
  }
  .wrap-brand .brand-logo {
    width: 15rem;
  }
  .bg-service {
    padding-bottom: 4rem;
  }
  .card-service {
    width: calc(100% / 4 - 1rem);
    min-height: 15rem;
  }
  .img-service {
    width: 6rem;
  }
  .follow-us {
    color: var(--color-orange);
  }
  .title-service {
    font-size: 2.4rem;
  }
  .desc-service {
    padding-right: 2rem;
  }
  .footer-btn .text,
  .text-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-white);
  }

  .wrap-social img {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
  }

  .footer {
  }

  .footer .wrap {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
  }
  .footer-btn {
    margin: 0;
  }
  .wrap-footer-content {
    width: 30%;
  }
  .footer-logo {
    width: unset;
    margin-right: 1rem;
  }
  .img-footer {
    width: 15rem;
  }
  .footer-content {
    background-color: transparent;
    display: block;
  }
  #product {
    flex-direction: column;
    align-items: flex-start;
  }
  #product li {
    width: 90%;
    color: var(--color-white);
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0.25rem;
    padding: 0;
  }
  .mt-2 {
    margin-top: 1rem;
  }
  .icon-text span {
    font-size: 1.2rem;
  }
  .icon-text img {
    width: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .thumbnail {
    height: 40rem;
    background-image: url("./shared/images/thumbnail-dt.png");
  }
  .wrap-card {
    row-gap: 2rem;
  }
}
@media screen and (min-width: 1820px) {
  .form-search input {
    padding: 1rem 2rem;
    font-size: 1.6rem;
  }
  .link-person {
    width: 4.2rem;
  }
  .link-cart {
    width: 3.2rem;
  }
  .link-logo img {
    width: 18rem;
  }
  .form-search {
    margin-left: 8rem;
  }
  .the-menu .swiper-wrapper {
    padding: 2rem;
  }
  .thumbnail {
    height: 58rem;
  }
  .swiper-slide-trending .img-trend {
    height: 22rem;
    width: 45rem;
    display: block;
  }
  .wrap-title .text {
    font-size: 3rem;
  }
  .trend-title {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .item-trend {
    padding: 1.5rem;
  }
  .hot {
    top: -2rem;
    height: 6rem;
    left: -10px;
  }
  .wrap-card {
    row-gap: 2rem;
  }
  .card {
    width: calc(100% / 4 - 4rem);
  }
  .img-product {
    height: 24rem;
  }
  .wrap-brand .brand-logo {
    width: 20rem;
  }
  .card-service {
    width: calc(100% / 4 - 2rem);
  }
  .img-footer {
    width: 20rem;
  }
}
